* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  overflow-x: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%;
  overflow-x: none; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: none; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #be9fe1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #be9fe1; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #351f39; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.todo, .in-progress, .done {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80vh;
  transition: all .9s ease-in-out; }
  .todo_item, .in-progress_item, .done_item {
    width: 90%;
    margin: 2px 0;
    background: #e1ccec;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all .9s ease-in-out; }
    .todo_item:hover, .todo_item :focus, .in-progress_item:hover, .in-progress_item :focus, .done_item:hover, .done_item :focus {
      background: #ecdff3; }
    .todo_item_head, .in-progress_item_head, .done_item_head {
      width: 100%;
      height: 20%;
      padding: 10px 10px;
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .todo_item_head .priority, .in-progress_item_head .priority, .done_item_head .priority {
        background: transparent; }
        .todo_item_head .priority option, .in-progress_item_head .priority option, .done_item_head .priority option {
          background-color: #e1ccec; }
      .todo_item_head .option, .in-progress_item_head .option, .done_item_head .option {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .todo_item_head .option span, .in-progress_item_head .option span, .done_item_head .option span {
          font-size: 16px; }
          @media (max-width: 1200px) {
            .todo_item_head .option span, .in-progress_item_head .option span, .done_item_head .option span {
              font-size: 13px; } }
          @media (max-width: 760px) {
            .todo_item_head .option span, .in-progress_item_head .option span, .done_item_head .option span {
              font-size: 10px; } }
          @media (max-width: 560px) {
            .todo_item_head .option span, .in-progress_item_head .option span, .done_item_head .option span {
              font-size: 5px; } }
        .todo_item_head .option_status, .in-progress_item_head .option_status, .done_item_head .option_status {
          background: transparent;
          display: none; }
        .todo_item_head .option_edit, .in-progress_item_head .option_edit, .done_item_head .option_edit {
          margin: 0 10px;
          background: transparent;
          font-family: 'Roboto', sans-serif; }
          .todo_item_head .option_edit:hover, .in-progress_item_head .option_edit:hover, .done_item_head .option_edit:hover {
            background-color: #be9fe1; }
        .todo_item_head .option_delete, .in-progress_item_head .option_delete, .done_item_head .option_delete {
          background: transparent;
          font-family: 'Roboto', sans-serif; }
          .todo_item_head .option_delete:hover, .in-progress_item_head .option_delete:hover, .done_item_head .option_delete:hover {
            background-color: #be9fe1; }
    .todo_item_content, .in-progress_item_content, .done_item_content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 95%;
      height: 100%; }
      .todo_item_content_input, .in-progress_item_content_input, .done_item_content_input {
        width: 100%;
        height: 3vh;
        margin-bottom: 5px;
        background: #c9b6e4;
        padding: 0 5px;
        font-size: 20px; }
        @media (max-width: 1200px) {
          .todo_item_content_input, .in-progress_item_content_input, .done_item_content_input {
            font-size: 20px; } }
        @media (max-width: 1000px) {
          .todo_item_content_input, .in-progress_item_content_input, .done_item_content_input {
            font-size: 18px; } }
        @media (max-width: 760px) {
          .todo_item_content_input, .in-progress_item_content_input, .done_item_content_input {
            font-size: 16px; } }
        @media (max-width: 560px) {
          .todo_item_content_input, .in-progress_item_content_input, .done_item_content_input {
            font-size: 13px; } }
      .todo_item_content_textarea, .in-progress_item_content_textarea, .done_item_content_textarea {
        width: 100%;
        height: 7.5vh;
        background: #c9b6e4;
        resize: none;
        border-radius: 3px;
        overflow-y: scroll;
        padding: 0 5px;
        font-size: 18px; }
        @media (max-width: 1200px) {
          .todo_item_content_textarea, .in-progress_item_content_textarea, .done_item_content_textarea {
            font-size: 18px; } }
        @media (max-width: 1000px) {
          .todo_item_content_textarea, .in-progress_item_content_textarea, .done_item_content_textarea {
            font-size: 16px; } }
        @media (max-width: 760px) {
          .todo_item_content_textarea, .in-progress_item_content_textarea, .done_item_content_textarea {
            font-size: 13px; } }
      .todo_item_content ::-webkit-scrollbar, .in-progress_item_content ::-webkit-scrollbar, .done_item_content ::-webkit-scrollbar {
        width: 5px; }
      .todo_item_content ::-webkit-scrollbar-track, .in-progress_item_content ::-webkit-scrollbar-track, .done_item_content ::-webkit-scrollbar-track {
        background: #c9b6e4; }
      .todo_item_content ::-webkit-scrollbar-thumb, .in-progress_item_content ::-webkit-scrollbar-thumb, .done_item_content ::-webkit-scrollbar-thumb {
        background: #c9b6e4; }
      .todo_item_content ::-webkit-scrollbar-thumb:hover, .in-progress_item_content ::-webkit-scrollbar-thumb:hover, .done_item_content ::-webkit-scrollbar-thumb:hover {
        background: #351f39; }

.todo_form {
  display: flex;
  align-items: center;
  margin: 1px;
  flex-wrap: wrap; }
  .todo_form_item {
    width: 50%; }
    .todo_form_item label {
      font-size: 18px;
      font-weight: 500; }
    .todo_form_item_input {
      width: 90%;
      font-size: 16px;
      padding: 10px 10px;
      border: 1px solid #ddd;
      background: #f1f1f6;
      border-radius: 5px; }
    .todo_form_item_textarea {
      width: 90%;
      height: 100px;
      margin-top: 5px;
      font-size: 16px;
      resize: none;
      padding: 10px 10px 60px;
      background: #f1f1f6;
      border-radius: 3px;
      overflow: hidden; }
    .todo_form_item label[for='status'] {
      font-size: 16px;
      font-weight: 500; }
    .todo_form_item label[for='priority'] {
      font-size: 16px;
      font-weight: 500; }
    .todo_form_item select, .todo_form_item option {
      background-color: #c9b6e4; }

.btn-close-modal {
  color: inherit;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  background: none; }

.btn_container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn_container .btn {
    font-size: 18px;
    color: #f1f1f6;
    background-color: #be9fe1;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
    .btn_container .btn:hover {
      background-color: #b693dd; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  height: 15vh;
  color: #351f39;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  background-color: #be9fe1; }
  @media (max-width: 1200px) {
    .header {
      font-size: 50px; } }
  @media (max-width: 1000px) {
    .header {
      font-size: 30px; } }
  @media (max-width: 760px) {
    .header {
      font-size: 25px; } }
  @media (max-width: 560px) {
    .header {
      font-size: 20px; } }
  .header_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.3333%; }
    .header_item img {
      width: 30%;
      height: 95%; }
      @media (max-width: 1000px) {
        .header_item img {
          width: 30%;
          height: 60%; } }
      @media (max-width: 760px) {
        .header_item img {
          width: 25%;
          height: 40%; } }
    .header_item_btn {
      width: 70%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      background-color: #c9b6e4;
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
      @media (max-width: 1000px) {
        .header_item_btn {
          font-size: 20px; } }
      @media (max-width: 760px) {
        .header_item_btn {
          font-size: 16px; } }
      @media (max-width: 560px) {
        .header_item_btn {
          font-size: 13px; } }
      .header_item_btn:hover {
        background-color: #b18cdb;
        color: #72437b; }

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 82vh;
  background-color: #c9b6e4; }
  .main_item {
    height: 100%;
    width: 33.333333%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x: none;
    white-space: nowrap; }
    .main_item_header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px 0;
      font-family: 'Courier New', Courier, monospace;
      font-size: 25px;
      font-weight: 500; }
      @media (max-width: 760px) {
        .main_item_header {
          font-size: 18px; } }
      @media (max-width: 560px) {
        .main_item_header {
          font-size: 13px; } }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3vh;
  background-color: #be9fe1; }
  .footer .author {
    cursor: pointer;
    font-size: 10px;
    color: #351f39; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1ccec;
  padding: 40px 40px;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s; }
  .modal_header {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    line-height: 1.5; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }
